
body{
    margin-left: 10px;
    padding: 0;
    font-family:'Arial Narrow', Arial, sans-serif;    
}

#canvas{
    
    margin: 10px;
    width: 400px;
    height: 400px;
    border: solid 5px red;
}

#title{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#title span{
    font-size: 15px;
    margin-left: 20px;
}
#mainCon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    
}
#canvasCon{
    background-color: white;
}
#inputCon{
    display: flex;
    background-color: white;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;

}
#strEditForm{
    display: flex ;
}
#strEdit{
    margin-left: 10px;
}
#undo{
    width:  50px;
}
#description{
    margin-left: 5px;
}