
body{
    margin: 0;
    padding: 0;
    font-family:'Arial Narrow', Arial, sans-serif;    
    background-color: lightblue;
}


header p {
    margin-left: 30px;
}


#canvas{
    
    background-color: white;
    width: 400px;
    height: 400px;
    border: solid 5px black;
}

.headingText{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.headingText span{
    font-size: 15px;
    margin-left: 20px;
}
#mainCon{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    
}

#inputCon{
    width: 30%;
    padding: 1em;
    display: flex;
    background-color: lightgrey;
    border-style: solid;
    border-width: .3em;
    border-color: black;
    align-items: left;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 30px;

}
#scaleDiv{
    margin-top: 50px;
}
#direction{
    margin: 0;
}
#strEditForm{
    display: flex ;
}
#strEdit{
    margin-left: 10px;
}
#undo{
    width:  50px;
}




#postForm{
    margin: 10px 30px 5px 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#titleDiv, #authorDiv{
    margin-bottom: 5px;
    align-self: center;
}
#titleDiv label{
    margin-right: 14px;
}
#postBtnDiv{
    align-self: center;
}




#description{
   margin-left: 10px;
}
p{
    margin: 10px;
}
.controls{
    margin-left: 30px;
}
.entry{
    margin: 30px;
    background-color: lightgrey;
    border: solid 5px black;

}